In [157]:
#This snippet of code is for anyone looking quickly split data in strings within their dataset into new columns
#when using Pandas. Hooray for not looping as much!
%matplotlib inline
import pandas as pd #pandas is a useful array/matrix/spreadsheet maipulator. But it has some unique language
import numpy as np #math stuff!
import matplotlib.pyplot as plt #plotting package.
import seaborn as sns
from mpl_toolkits.basemap import Basemap
from sklearn.ensemble import RandomForestClassifier

In [159]:
#opening training set
vecTrain=pd.read_csv('train.csv', header=0)

In [167]:
#Looking at addresses, they are either intersections or the block of a road.
#I choose to break intersections into each street and seperate blocks and their road.
#First, replacing all the 'of' with '/' (e.g. 600 block of Market ST-->600 block / Market ST)
vecTrain['Address1']=vecTrain['Address'].str.replace('of','/') #

In [168]:
#Now make 2 new columns using split on the ' / ':
#(Spaces added above to remove empty spaces from new entries)
vecTrain[['Address2','Address3']]=vecTrain['Address1'].str.split(' / ',expand=True)

In [171]:
#Ta da! That would have taken many hours with a for loop.
vecTrain[['Address','Address2','Address3']].head()

                     Address    Address2      Address3
0         OAK ST / LAGUNA ST      OAK ST     LAGUNA ST
1         OAK ST / LAGUNA ST      OAK ST     LAGUNA ST
2  VANNESS AV / GREENWICH ST  VANNESS AV  GREENWICH ST
3   1500 Block of LOMBARD ST  1500 Block    LOMBARD ST
4  100 Block of BRODERICK ST   100 Block  BRODERICK ST

In [173]:
#Doing the same on the dates:
vecTrain[['Date','Time']]=vecTrain['Dates'].str.split(' ', expand=True)

In [175]:
vecTrain[['Year','Month','Day']]=vecTrain['Date'].str.split('-', expand=True)

In [177]:
vecTrain[['Hour','Minute','Second']]=vecTrain['Time'].str.split(':',expand=True)

In [181]:
vecTrain[['Dates','Date','Year','Month','Day','Time','Hour','Minute','Second','Address','Address1','Address2','Address3']].head()

,Dates,Date,Year,Month,Day,Time,Hour,Minute,Second,Address,Address1,Address2,Address3
0,2015-05-13 23:53:00,2015-05-13,2015,05,13,23:53:00,23,53,00,OAK ST / LAGUNA ST,OAK ST / LAGUNA ST,OAK ST,LAGUNA ST
1,2015-05-13 23:53:00,2015-05-13,2015,05,13,23:53:00,23,53,00,OAK ST / LAGUNA ST,OAK ST / LAGUNA ST,OAK ST,LAGUNA ST
2,2015-05-13 23:33:00,2015-05-13,2015,05,13,23:33:00,23,33,00,VANNESS AV / GREENWICH ST,VANNESS AV / GREENWICH ST,VANNESS AV,GREENWICH ST
3,2015-05-13 23:30:00,2015-05-13,2015,05,13,23:30:00,23,30,00,1500 Block of LOMBARD ST,1500 Block / LOMBARD ST,1500 Block,LOMBARD ST
4,2015-05-13 23:30:00,2015-05-13,2015,05,13,23:30:00,23,30,00,100 Block of BRODERICK ST,100 Block / BRODERICK ST,100 Block,BRODERICK ST